<div class="container-fluid how-it-works">
    <h1 class="text-center">HOW IT WORKS</h1>
    <p class="text-center" > Blocmetrics is an API tracking application, in which you could view the overall activity of your web page.</p>
    <p class="text-center"> Just by following these simple steps, you will be on your way to track the traffic of your website.</p>

  <div class="container">
    <ul>
        <li> Sign up to get a free account.</li>
        <li> Register the name and URL of your website. </li>
        <li> Copy the below code to your web application in your <code>app/assets/javascripts/application.js</code> file.</li>
        
    </ul>
    </div>
   <div class="container">
         <pre>
            <code style="color:#000000; word-wrap:normal;">
        
  var blocmetrics = {};
  
  blocmetrics.report = function(eventName){
   
    var event = {event: { name: eventName }};
 
    var request = new XMLHttpRequest();
  
    request.open("POST", "https://ehayes-blocmetrics.herokuapp.com/api/events", true);
   
    request.setRequestHeader('Content-Type', 'application/json');
   
    request.send(JSON.stringify(event));
        
  };
  
               </code>
         </pre>
  
    </div> 
    <div class="container">
      <ul>
        <li> Add the following to the page you want to track and change the <code>"MY EVENT NAME"</code> to your event name.</li>
      </ul> 
    </div>   
    <div class="container">
     <pre>
      <code style="color:#000000; word-wrap:normal;" language="javascript">
  &lt;script type='text/javascript'&gt;
     blocmetrics.report("MY EVENT NAME");  
  &lt;/script&gt;                
      </code>
     </pre>              
    </div>  
</div>