<div class="container">
 <div class="jumbotron">
   <h1>Welcome to Blocmetrics</h1>
   <p>Your solution to tracking web application events, has now become easier and is now available at your fingertips!</p>
   <p>
     <%= link_to "Sign In", new_user_session_path %> or
     <%= link_to "Sign Up", new_user_registration_path %> today!
    </p>
 </div>
</div> 
<div class="container"> 
 <div class="row">
   <div class="col-md-4">
     <h2>View Activity</h2>
     <p>Blocmetrics offers a few key features</p>
   </div>
   <div class="col-md-4">
     <h2>Track Single Events</h2>
     <p>Blocmetrics allows you to track events of your website, and it displays the captured event data.</p>
   </div>
   <div class="col-md-4">
     <h2> An analytic service</h2>
     <p>Blocmetrics will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
   </div>
 </div>
</div> 