<div class="container"> 
 <div class="jumbotron">
   <h1>Welcome to Blocmetrics</h1>
   <p>Your solution to tracking web application events, has now become easier and is now available at your fingertips!</p>
   <p>
     <%= link_to "Sign In", "new_user_session_path" %> or
     <%= link_to "Sign Up", "new_user_registration_path", class: 'btn purple-gradient btn-rounded' %> today!
   </p>
 </div>
</div>
 <div class="row">
   <div class="col-md-4">
     <h2>View events</h2>
     <p>Blocmetrics will deliver food and water to those in need, all over the world.</p>
   </div>
   <div class="col-md-4">
     <h2>Eliminates poverty</h2>
     <p>Bloccit will deliver money and education to those in need, all over the world.</p>
   </div>
   <div class="col-md-4">
     <h2>Makes you better looking</h2>
     <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
   </div>
 </div>