<div class="container">
 <h1>All Registered Applications</h1>
</div>
<div class="container">
    <%= link_to "Register a new application", new_registeredapp_path, class: 'btn btn-success' %>
</div>
 <div class ="container" >
  <div class="row">
   <div class="col-md-8">
     <% @registeredapps.each do |app| %>
       <div class="media">
         <div class="media-body">
           <h3 class="media-heading">
             <%= link_to app.name, app %>
           </h3>
            <small>
             <%= app.url %>
            </small>           
         </div>
       </div>
     <% end %>
   </div>
  </div>
 </div>
