<h1><%= @registeredapp.name %></h1>
    <small>
     submitted <%= time_ago_in_words(@registeredapp.created_at) %> ago <br>
    </small>           

  <%= link_to "Edit Registered Application", edit_registeredapp_path, class: 'btn btn-success' %>
  <%= link_to "Delete Registered Application", @registeredapp, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this application?' } %>
